{% extends "Tracker/index.html" %}
{% block content %}
<h2>Transaction List</h2>


    

    {% for transaction in transactions %}

        <li>{{ transaction.name }}</li>
        <li>{{ transaction.category }}</li>
        <li>{{ transaction.amount }}</li>
        <li>{{ transaction.date }}</li>
        <li>{{ transaction.description }}</li>
        <li><a href="{% url 'edit' transaction.id %}">edit</a></li>
        <li><a href="{% url 'delete' transaction.id %}">delete</a></li>    
    
    {% empty %}
 
        <li colspan="5">No transactions found.</li>
  
    
    {% endfor %}



{% endblock %}